/* h1
{
  color:white;
  font-family:monospace;
  font-size: 26px;
  
} */

/* h1.welcum
{
  font-size: 21px;
  text-align: center;
  text-shadow: 5px;
  padding-top: 500px;
} */
.App-logo {
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    
  }
}

.App-header {
  
}

.App-link {
  
}


